/* CSS file */
.form-group > label {
    display: block;
    font-size: .92857143em;
    font-weight: 700;
}

body {
    background:aliceblue;
}

.card_cls {
    border-radius: 0; 
    padding: 5px !important;
    width: 100%; 
    height: 100%;
    background: #efefef !important
}

.info_cls {
    font-size: small;
    font-style: normal;
    font-family: cursive;
}

.cantent {
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}

.header {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    display: block;
    margin: '';
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.85)
}

.description {
    clear: both;
    color: rgba(0,0,0,.68);
}

